/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: #E7E7E7;
  font-family: var(--font-figtree), sans-serif;
  /* font-size: calc(14 / 1440 * 100vw); */
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out!important;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 540px) {

  /* html,
  body {
    font-size: calc(14 / 414 * 100vw);
  } */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
      --font-figtree: 'Figtree', sans-serif; /* fallback if needed */
  --radius: 0.625rem;
  --background: #D9D9D9;
  --foreground: ##D9D9D9;
  --card: #D9D9D9;
  --card-foreground: ##D9D9D9;
  --popover: #D9D9D9;
  --popover-foreground: ##D9D9D9;
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: ##D9D9D9;
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@theme {
  --color-primary: #11456B;
  --color-primary-red: #D91B1B;
  --color-primary-700:#0E2E44;
  --color-primary-100:#CFDAE1;
  --color-primary-50:#CFDAE1;
  --color-primary-500:#11456B;
  --color-primary-300:#708FA6;
  --color-secondary-50:#F0F0E7;
  --color-main-icon-color:#103958;
  --color-disable: #CFDAE1;
  --color-text-disable: #A4A4A4;
  --color-text-body: #494949;
  --color-main-white:#F9F9F9;
  --color-main-heading:#333333;
  --color-warning-50:#FEF6EA;
  --color-warning-100:#FDEDD6;
  --color-warning-500:#F3A530;
  --color-warning-600:#C58629;
  --color-warning-700:#966721;
  --color-p: #494949;
  --color-neutral-50: #F4F4F4;
  --color-neutral-100: #E8E8E8;
  --color-neutral-500: #8D8D8D;
  --color-lightbackground: #D4E9F9;
  --color-footer: #1C4E59;
  --color-error-500: #D91B1B;
  --color-error-400: #E14949;
  --color-error-100: #F7D1D1;
  --color-error-50: #FBE8E8;
  --color-btn-disabled: #CFDAE1;
  --color-btn-hover: #416A89;
  --color-success-100: #D5ECD7;
  --color-success-500: #2B9E36;
  --color-secondary-50: #F0F0E7;
  --breakpoint-mobile: 850px;
  --breakpoint-xs: 500px;
  --text-body-two-regular:16px;
  --text-body-two-regular--line-height:20px;
  --text-body-two-regular--letter-spacing:-0.5px;
  --text-body-two-regular--font-weight:400;
  --text-h5-semibold:32px;
  --text-h5-semibold--line-height:40px;
  --text-h5-semibold--letter-spacing:-1px;
  --text-h5-semibold--font-weight:600;
  /* --text-h5-semibold:32px; */
  --text-caption-one:14px;
  --text-caption-one--line-height:18px;
  --text-caption-one--letter-spacing:-0.5px;
  --text-caption-one--font-weight:600;
/* 
    --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem; 
  --text-tiny--letter-spacing: 0.125rem; 
  --text-tiny--font-weight: 500;  */
}
/* .section{
  font-family: var(--font-figtree), sans-serif!important;
} */
button:hover{
cursor: pointer;
}
body:has(.requires-no-scroll) {
  overflow: hidden;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #e5e7eb 0%,
    #f3f4f6 20%,
    #e5e7eb 40%,
    #e5e7eb 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;

}
.remove-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}