@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: #E7E7E7;
  font-family: 'Istok Web', sans-serif;
  font-size: calc(14 / 1440 * 100vw);
  font-weight: normal;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media screen and (max-width: 540px) {

  html,
  body {
    font-size: calc(14 / 414 * 100vw);
  }
}